/* Header */
header {
  width: 100%;
}

header .container {
  background-image: url("../media/pictures/Skuta_Large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1080px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

header .container div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  text-align: center;
}

#headerImage {
  margin: 1em 0 0;
  border: 4px solid black;
}

.headerTextContainer {
  position: relative;
  top: 70px;
  left: 40px;
  width: 45%;
}

.headerTextContainer p {
  margin-top: 1em;
  font-weight: 550;
}

.headerTextContainer::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fafafa;
  background-size: cover;
  opacity: 0.6;
}

.headerText {
  position: relative;
  margin: 1em;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

.headerText h3 {
  margin: 0.2em 0;
  font-size: 2em;
}

.headerText h4 {
  margin: 0.2em 0;
}

.headerText h5 {
  margin: 0.2em 0;
}

@media (max-width: 1048px) {
  header .container {
    background-image: url("../media/pictures/Skuta_Medium.jpg");
  }
  .headerTextContainer {
    width: 55%;
  }
  .headerText h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 900px) {
  header .container {
    background-image: url("../media/pictures/Skuta_Small.jpg");
  }
  .headerTextContainer {
    width: 67%;
  }
}

@media (max-width: 648px) {
  header .container {
    background-image: none;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    height: unset;
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
  }
  .headerTextContainer::before {
    content: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fafafa;
    background-size: cover;
    opacity: 0.6;
  }
  .headerTextContainer {
    position: relative;
    top: unset;
    left: unset;
    width: unset;
  }
  .headerText {
    position: relative;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 600;
  }
  .headerText h3 {
    margin: 0.2em 0;
    font-size: 1.5em;
  }
  .headerText h4 {
    margin: 0.2em 0;
    font-size: 1em;
  }
  .headerText h5 {
    margin: 0.2em 0;
    font-size: 1em;
  }
  .headerText p {
    padding: 0 0 1em;
  }
}

/* shop */
.mainShop {
  background-color: var(--accent-color);
}

.inputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5em !important;
}

.inputForm form {
  width: 50%;
  background-color: var(--accent-color);
  padding: 0.5em 5em 2em;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
}

.inputForm .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5em;
}

.inputContainer {
  width: 100%;
  font-weight: bold;
}

.inputContainer label {
  width: 100%;
  margin-bottom: 0.2em;
  padding: 0.5em 0;
}

.inputContainer input {
  width: 100%;
  padding: 5px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.inputContainer input:focus {
  outline: unset !important;
}

.mainShop img {
  margin: 1em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.mainShop .bookPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopImage {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  padding: 0 !important;
}

/* Footer */
footer {
  padding: 1em 0;
  background-color: var(--main-color);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em;
}

footer .container #collaboration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .navigation a {
  margin: 0.2em 0;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

footer .container .navigation a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .container .navigation a:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (max-width: 900px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 50px;
  }
  footer .container > div {
    margin: 0.5em;
  }
}

.mainRoyso {
  background-color: var(--accent-color);
  width: 100% !important;
}

.mainRoyso .karta {
  margin: 0.5em 0;
}

.mainRoyso #googleMap {
  margin-top: 1em;
  width: 100%;
  height: 400px;
}

.mainRoyso #googleMap div {
  margin: 0;
}

.mainRoyso #googleMap .cluster img {
  margin: 0;
}

.mainRoyso img {
  max-height: 300px;
  margin: 0.5em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.mainRoyso p {
  margin: 0.7em;
}

.mainRoyso a {
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.privacy {
  background-color: var(--accent-color);
  padding: 3em;
}

.privacy div {
  padding: 1em;
  background-color: var(--main-color);
}

.privacy div h2 {
  margin-bottom: 0.5em;
}

.privacyButton {
  color: gray;
  text-decoration: underline;
}

:root {
  --main-color: rgb(248, 248, 248);
  --accent-color: rgb(225, 225, 225);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--main-color);
}

h1 {
  font-size: 4em;
  margin: 0em;
  padding: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  margin: 0 1em;
}

img {
  max-width: 100%;
}

p {
  padding: 0em 1em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexEven {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.background {
  width: 100%;
  background-color: var(--accent-color);
}

.errorMsg,
.contactErrorMsg {
  background-color: #ffff99;
  text-align: center;
  color: #996633;
  font-weight: normal;
  padding: 5px;
  margin-top: 0.2em;
  border-radius: 5px;
  border: 1px solid #996633;
}

.failMsg {
  z-index: 99;
  position: absolute;
  top: 170px;
  left: 50%;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.failMsg p {
  position: relative;
  left: -50%;
  border: 1px solid #7c1c1c;
  background-color: #e10000;
  padding: 1em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.successMsg {
  z-index: 99;
  position: absolute;
  top: 170px;
  left: 50%;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.successMsg > p {
  position: relative;
  left: -50%;
  color: #270;
  background-color: #DFF2BF;
  padding: 1em;
  border-radius: 10px;
  font-weight: bold;
}

.fadeMsg {
  visibility: hidden;
  opacity: 0;
}

/* Buttons */
.primaryButton {
  font-family: 'Lato', sans-serif !important;
  background-color: unset;
  border: unset;
  margin: 0.2em;
  padding: 0.5em 0.5em 0.1em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  color: #aaaaaa;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primaryButton:hover,
.primaryButton:focus {
  outline: unset !important;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.primaryButtonFocus {
  outline: unset !important;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.primaryButton:active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.secondaryButton {
  font-family: 'Lato', sans-serif !important;
  font-weight: bold;
  font-size: 1.7em;
  background-color: unset;
  border: unset;
  background-color: var(--main-color);
  padding: 0.2em;
  border-radius: 5px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

.secondaryButton:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.contactButton {
  cursor: pointer;
}

.contactButton:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background-color: var(--accent-color);
}

.contactButton:focus {
  outline: unset !important;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/* Navbar */
nav {
  width: 100%;
}

nav h1 {
  margin: 0em;
  padding: 0.2em;
  padding-bottom: 0.2em;
}

nav .container {
  width: 100%;
  padding: 0 0 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

.navbar .menuIcon {
  display: none;
  position: fixed;
  right: 0px;
  top: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--main-color);
  padding: 2px;
  margin: 3px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.navbar .menuIcon div {
  width: 48px !important;
  height: 48px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Main */
main {
  width: 100%;
  max-width: 1600px;
  padding: 1em 0;
  margin-left: auto;
  margin-right: auto;
}

main .container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .container article {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  margin: 0em 1em;
  padding: 1em;
}

main .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

main .container .header h2 {
  margin-bottom: 0.2em;
}

.author {
  position: relative;
}

#authorPicture {
  max-width: 128px;
  float: right;
  margin: 1em;
}

.frontpage {
  background-color: var(--accent-color);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Book */
.mainBook {
  background-color: var(--accent-color);
}

/* Contact form */
#contactForm {
  position: fixed;
  bottom: 0px;
  right: -450px;
  background-color: var(--accent-color);
  margin: 1em 0em 1em;
  padding: 1em 2em 1em 0em;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  border-radius: 20px 0 0 20px;
  -webkit-transition: right 1s;
  transition: right 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactVisible {
  right: 0px !important;
}

#closeContactForm {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

#closeContactForm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contactForm h4 {
  margin-top: 0.2em;
}

#contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#contactForm input {
  width: 100%;
  padding: 5px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

#contactForm label {
  padding: 10px 0px;
  margin: 10px 0px;
}

@media only screen and (max-width: 1024px) {
  main .container > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .frontpage {
    background: unset;
    background-color: var(--accent-color);
  }
  /* navbar */
  .navbar .menuIcon {
    display: block;
    z-index: 99;
  }
  .navbar {
    overflow: hidden;
    position: relative;
  }
  .navbar #links {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* header */
  header .container {
    margin-top: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* main */
  main .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 95%;
  }
  main .container p {
    padding: 0;
  }
  main .container div {
    margin: 0 0.5em;
  }
}
